Hotels.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">

	<!-- Root element: Hotels -->
	<xsd:element name="Hotels">
		<xsd:complexType>
			<xsd:sequence>
				<!-- multiple Hotel entries -->
				<xsd:element name="Hotel" minOccurs="1" maxOccurs="unbounded">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="Name" type="xsd:string" minOccurs="1" maxOccurs="1"/>

							<!-- Allow multiple Phone entries -->
							<xsd:element name="Phone" type="xsd:string" minOccurs="1" maxOccurs="unbounded"/>

							<!-- Address broken into parts... ordered left to right with sequence -->
							<xsd:element name="Address">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="Number" type="xsd:int"/>
										<xsd:element name="Street" type="xsd:string"/>
										<xsd:element name="City"   type="xsd:string"/>
										<xsd:element name="State"  type="xsd:string"/>
										<xsd:element name="Zip"    type="xsd:int"/>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>

							<xsd:element name="NearestAirport" type="xsd:string" minOccurs="1" maxOccurs="1"/>
						</xsd:sequence>

						<!-- Attributes on <Hotel>: Rating (required), Number (optional) -->
						<xsd:attribute name="Rating" type="xsd:decimal" use="required"/>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>

</xsd:schema>
